* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 47px 0 178px 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
    letter-spacing: 0.88px;
}

.button-header {
    width: 124px;
    height: 51px;
    left: 420px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #6FBF44;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

}

.img-logo {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 97px;
    width: 493px;
    
}

.link-section {
    font-Weight: 500;
    font-Size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

h1 {
    
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}